02-externalising-start/src/main/mule/externalization.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="385abfb1-49d8-4034-92a6-605523d9ecb4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="8b6f34f2-74d9-47a6-b5e4-6c1e9d1f290c" file="properties\db-secure-dev.yaml" />
	<flow name="databaseendpointFlow" doc:id="75728799-9104-4aa1-93d3-edfe6cba38a5" >
		<http:listener doc:name="Listener" doc:id="505187b5-2b02-4f31-9c69-6a85189ee795" config-ref="HTTP_Listener_config" path="/db"/>
		<db:select doc:name="Select" doc:id="6c5406d0-95f8-4e2d-b1a3-c71330a81f22" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from product where brand_name=:brandname]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	brandname: attributes.queryParams.brandname as String
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="513e512a-8d3e-4a83-b8e1-9a52ea891bb6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="55a46a10-95cf-4bad-950b-235ce3ef6912" message="#[payload]"/>
	</flow>
</mule>
