01-jms-start/src/main/mule/jms.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e9b9922e-a92d-4ff5-9b49-43911c10834a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<jms:config name="JMS_Config" doc:name="JMS Config" doc:id="24576206-ddbd-4543-a378-60211721cdb1" >
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<jms:config name="JMS_Config1" doc:name="JMS Config" doc:id="f90144a8-d660-4206-86e6-8c3979dd14eb" >
		<jms:active-mq-connection >
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	<flow name="jmsFlow" doc:id="d0c69f53-12cf-4982-8371-f3b90f88dbfa" >
		<jms:listener doc:name="On New Message" doc:id="0662cb83-7bfc-4fe7-a1dc-af6e25c264d6" config-ref="JMS_Config" destination="inq" inboundContentType="text/plain">
			<jms:consumer-type >
				<jms:queue-consumer />
			</jms:consumer-type>
		</jms:listener>
		<set-payload value="#[payload ++ 'Response']" doc:name="Set Payload" doc:id="6036c26e-f3a9-4550-80d4-4e496afa5d08" />
		<logger level="INFO" doc:name="Logger" doc:id="f0e58313-67c3-43ef-a127-e85d4bdd7a75" message="#[payload]"/>
	</flow>
	<flow name="jmsFlow1" doc:id="94517f8d-62bb-4c33-8de5-73e5b6488f19" >
		<http:listener doc:name="Listener" doc:id="b6989859-3e47-4dca-90b5-7a457a5f5560" config-ref="HTTP_Listener_config" path="/send"/>
		<jms:publish-consume doc:name="Publish consume" doc:id="3acb5053-3a95-472d-aea4-35574df6f8d6" config-ref="JMS_Config1" destination="inq">
			<jms:message >
				<jms:reply-to destination="rq" />
			</jms:message>
		</jms:publish-consume>
	</flow>
</mule>
