routesandschedules-sapi-abc/src/main/mule/implementation/abc-routes-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="abc-routes-impl-sub-flow" doc:id="847d545e-62fd-400e-8bbd-b47bcc72fa57">
		<http:request method="GET" doc:name="Request" doc:id="bcf9224e-2140-410f-9bea-728c0f447b40" config-ref="HTTP_Request_configuration_abc" path="${http.requester.routesPath}">
			<http:headers><![CDATA[#[output application/java
---
{
	"transactionId" : vars.transactionId
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="caaf6dbf-e27a-485a-9ddb-2f6f5a7aee52" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (value, index) -> {
	"source": {
		"locationCode": value.sourceLocation
	},
	"destination": {
		"locationCode": value.destinationLocation
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
