acme_banking_api/src/main/mule/acme-banking-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="acme-banking-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="acme-banking-api-config" api="acme-banking-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <api-gateway:autodiscovery apiId="18536978" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="ab5959ca-6e17-4bee-b686-485e1cc78e9e" flowRef="acme-banking-api-main" />
	<flow name="acme-banking-api-main">
        <http:listener config-ref="acme-banking-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="acme-banking-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="acme-banking-api-console">
        <http:listener config-ref="acme-banking-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="acme-banking-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\accounts\(account_id):application\json:acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\accounts\(account_id):application\json:acme-banking-api-config" />
    </flow>
    <flow name="delete:\accounts\(account_id):acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\accounts\(account_id):acme-banking-api-config" />
    </flow>
    <flow name="delete:\customers\(customer_id):acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\customers\(customer_id):acme-banking-api-config" />
    </flow>
    <flow name="patch:\customers\(customer_id):application\json:acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\customers\(customer_id):application\json:acme-banking-api-config" />
    </flow>
    <flow name="get:\customers\(customer_id)\accounts:acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\customers\(customer_id)\accounts:acme-banking-api-config" />
    </flow>
    <flow name="get:\accounts\(account_id)\transactions:acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\accounts\(account_id)\transactions:acme-banking-api-config" />
    </flow>
    <flow name="get:\accounts\(account_id):acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="account_id">attributes.uriParams.'account_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  accountID: "12345",
  accountType: "Savings",
  accountNumber: "1234567890",
  accountOwner: [
    {
      customerID: "8f19cb50-3f57-4d38",
      displayName: "John Doe",
      ssn: "123-456-7890"
    }
  ],
  accountBalance: {
    currency: "USD",
    amount: "8457.90"
  },
  IBAN: "GB29NWBK60161331926820",
  bank: {
    bankCode: "NWBKGB2L",
    bankName: "ACME Bank",
    routingNumber: "432159876"
  },
  createdAt: "2012-03-07T00:00:00.001Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers\(customer_id):acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="customer_id">attributes.uriParams.'customer_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  customerID: "1fe1c22s-3d3a-9n3v",
  firstName: "Molly",
  lastName: "Mule",
  displayName: "Molly the Mule",
  address: {
    addressLine1: "123 Street",
    addressLine2: "Apt.#3D",
    city: "San Francisco",
    state: "California",
    zipCode: "94110",
    country: "United States"
  },
  phone: "415-000-0000",
  email: "molly@mulesoft.com",
  ssn: "321-654-0987",
  dateOfBirth: "1990-09-04"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\transactions\(transaction_id):acme-banking-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transaction_id">attributes.uriParams.'transaction_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  transactionID: "b05f550d-1915-4def",
  fromAccount: {
    accountID: "12345",
    accountType: "Savings",
    accountNumber: "1234567890",
    accountOwner: [
      {
        customerID: "8f19cb50-3f57-4d38",
        displayName: "John Doe",
        ssn: "123-456-7890"
      }
    ],
    accountBalance: {
      currency: "USD",
      amount: "8457.90"
    },
    IBAN: "GB29NWBK60161331926820",
    bank: {
      bankCode: "NWBKGB2L",
      bankName: "ACME Bank",
      routingNumber: "432159876"
    },
    createdAt: "2012-03-07T00:00:00.001Z"
  },
  toAccount: {
    accountID: "56437",
    accountType: "Credit Card",
    accountNumber: "4321987650",
    accountOwner: [
      {
        customerID: "8f19cb50-3f57-4d38",
        displayName: "John Doe",
        ssn: "123-456-7890"
      }
    ],
    IBAN: "GB29NWBK60161331926820",
    bank: {
      bankCode: "NWBKGB2L",
      bankName: "ACME Bank",
      routingNumber: "432159876"
    },
    accountBalance: {
      currency: "USD",
      amount: "698.00"
    },
    createdAt: "2012-03-07T00:00:00.001Z"
  },
  transactionType: "online",
  transactionAmount: {
    currency: "USD",
    amount: "70.00"
  },
  newAccountBalance: {
    currency: "USD",
    amount: "8387.90"
  },
  postedAt: "2012-06-07T00:00:00.001Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers:acme-banking-api-config">
        <logger level="INFO" message="get:\customers:acme-banking-api-config" />
    </flow>
    <flow name="post:\accounts:application\json:acme-banking-api-config">
        <logger level="INFO" message="post:\accounts:application\json:acme-banking-api-config" />
    </flow>
    <flow name="post:\transactions:application\json:acme-banking-api-config">
        <logger level="INFO" message="post:\transactions:application\json:acme-banking-api-config" />
    </flow>
    <flow name="post:\customers:application\json:acme-banking-api-config">
        <logger level="INFO" message="post:\customers:application\json:acme-banking-api-config" />
    </flow>
</mule>
