01-scatter-gather-start/src/main/mule/01-scatter-gather-start.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43e9a9d0-2548-4682-9a16-54b778df3314" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="01-scatter-gather-startFlow" doc:id="782b8508-4341-479a-bfce-fd820910df9b" >
		<http:listener doc:name="Listener" doc:id="6a877569-7893-4b08-82ab-6b01e2f8f5ba" config-ref="HTTP_Listener_config" path="/all"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="2af5df6a-8938-4320-9fc6-60f16b0e1754" >
			<route >
				<flow-ref doc:name="rest-getallproducts" doc:id="370ef265-ee4b-4f26-a06f-93ae146bbaea" name="rest-getallproducts"/>
			</route>
			<route >
				<flow-ref doc:name="db-getallproducts" doc:id="fd87db00-8559-47eb-9f32-00cd1a09493f" name="databaseendpointFlow"/>
			</route>
			<route >
				<flow-ref doc:name="soap-getallproducts" doc:id="a60d7106-7264-45b6-99d0-3547d026cbc6" name="soap-getallproducts"/>
			</route>
		</scatter-gather>
		<ee:transform doc:name="Transform Message" doc:id="44e124f6-37d9-4bad-bb45-98046aecf67c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
