routesandschedules-sapi-xyz/src/main/mule/implementation/xyz-schedules-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="abc-schedules-impl-sub-flow" doc:id="bda9b20a-63c4-4896-8a38-4c80a296f603" >
		<http:request method="GET" doc:name="Request" doc:id="ad233bdb-c2c2-4f93-8fc2-610662fc503b" config-ref="HTTP_Request_configuration_abc" path="${http.requester.schedulesPath}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"transactionId" : vars.transactionId
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="94b60fea-0c6a-48eb-8861-2496f5ee25d2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (value, index) -> {
	"departure": value.departure,
	"seats": value.seats,
	"routes": {
		"source": {
			"locationCode": value.sourceLocation
		},
		"destination": {
		    "locationCode": value.destinationLocation
	    }
   }	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
