02-transformers-complex-start/src/main/mule/transformxmldata.xml .xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="transformxmldata.xml_Flow" doc:id="2345bf35-5581-48cf-b734-b4ba3cc3530b" >
		<http:listener doc:name="Listener" doc:id="cf669109-ccda-4972-9f32-3a5b381aae70" config-ref="HTTP_Listener_config" path="/transformxml"/>
		<ee:transform doc:name="Transform Message" doc:id="519e1e90-ceac-4759-b625-33aa0ff0e079" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output application/xml
---
products :{
	
(
	payload.products.*product map {
		product: {
			productName:$.name,
	offerPrice:$.offer.offerPrice
		}
}
)	
	
}

	]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="44242afe-9f3d-4717-9cd9-7baf80b9c047" message="#[payload]"/>
	</flow>
</mule>
